<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.socros.android.app.gitez">

	<application
		android:name=".GitezApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/appName"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/GitezTheme">

		<activity
			android:name=".view.LauncherActivity"
			android:theme="@style/GitezTheme.Dark">
			<!-- Main intent filter to launch app from icon -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
